/* блок с рендером */
.render_6 {
  top: 0;
  left: 0;
  width: 100vw;
  height: 39.5vw;
  position: relative;
}
  /* изображение */
  .render6 {
    top: 0;
    left: 0;
    width: 100vw;
    height: 39.5vw;
    background-image: url("../images/14_0003 3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
    /* блок1 */
  .circle6 {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 35vw;
    left: 14vw;
  }
  .circle6:hover {
    background-color: #0092FF;
  }
  .rec6 {
    position: absolute;
    width: 10vw;
    height: 3vw;
    top: 32.5vw;
    left: 14.8vw;
    background-color: #0092FF;
    display: none;
  }
  .render_6 p:nth-of-type(1) {
    position: absolute;
    width: 9.4vw;
    top: 32.9vw;
    left: 16.3vw;
    font-family: "OktaNeue-Light";
    font-size: 1.7vw;
    color: white;
    display: none;
  }
    /* блок2 */
  .rec6-2 {
    position: absolute;
    width: 15.1vw;
    height: 3vw;
    top: 12.3vw;
    left: 77.8vw;
    background-color: #0092FF;
    display: none;
  }
  .render_6 p:nth-of-type(2) {
    position: absolute;
    width: 12.1vw;
    top: 12.7vw;
    left: 79.1vw;
    font-family: "OktaNeue-Light";
    font-size: 1.7vw;
    color: white;
    display: none;
  }
  .circle6-2 {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 15vw;
    left: 77vw;
  }
  .circle6-2:hover {
    background-color: #0092FF;
  }


/* раздел1 */
.block6-1 {
  margin: 0;
  border-bottom: 1px solid black;
  width: 100vw;
  height: 10vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
}
  .zagolovok6-1 {
    width: 52.4vw;
    margin-top: 3vw;
  }
  .zagolovok6-1 > p {
    font-family: "Radiotechnika";
    font-size: 5vw;
  }
  .podpic6-1 {
    width: 19vw;
    margin-top: 5.5vw;
  }
  .podpic6-1 > p {
    font-family: "OktaNeue-Regular";
    font-size: 0.76vw;
  }
  .knopka6-1 {
    width: 6.6vw;
    height: 6.6vw;
    background-image: url("../images/knopka1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2vw;
  }
  /* контен в открытом виде */
  .open6-1 {
    height: 44.8vw;
  }
  .hidden {
    display: none;
  }
  .block6-1-content {
    top: 60vw;
    left: 4vw;
    width: 78.4vw;
    height: 34.3vw;
    position: absolute;
  }
  .faq {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
    .dots6 {
      width: 1vw;
      height: 23.1vw;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      display: flex;
    }
      .dot6-1 {background: black; width: 1vw; height: 1vw; border-radius: 50%;}
      .dot6-2 {background: black; width: 1vw; height: 1vw; border-radius: 50%;}
      .dot6-3 {background: black; width: 1vw; height: 1vw; border-radius: 50%;}
      .dot6-4 {background: black; width: 1vw; height: 1vw; border-radius: 50%;}
      .dot6-5 {background: black; width: 1vw; height: 1vw; border-radius: 50%;}
      .dot6-6 {background: black; width: 1vw; height: 1vw; border-radius: 50%;}
    .bl-text-6 {
      width: 37.1vw;
      height: 23.1vw;
      margin-left: -17vw;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      display: flex;
    }
      .bl-text-6 p:nth-of-type(1) {font-family: "OktaNeue-Regular"; font-size: 1.8vw;}
      .bl-text-6 p:nth-of-type(2) {font-family: "OktaNeue-Regular"; font-size: 1.8vw;}
      .bl-text-6 p:nth-of-type(3) {font-family: "OktaNeue-Regular"; font-size: 1.8vw;}
      .bl-text-6 p:nth-of-type(4) {font-family: "OktaNeue-Regular"; font-size: 1.8vw;}
      .bl-text-6 p:nth-of-type(5) {font-family: "OktaNeue-Regular"; font-size: 1.8vw;}
      .bl-text-6 p:nth-of-type(6) {font-family: "OktaNeue-Regular"; font-size: 1.8vw;}
    .text-hover-6 {
      width: 17.4vw;
      height: 23.1vw;
      margin-right: 1.5vw;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      display: flex;
    }
      .text-hover-6 p:nth-of-type(1) {font-family: "OktaNeue-Regular"; font-size: 0.76vw; opacity: 0;}
      .text-hover-6 p:nth-of-type(2) {font-family: "OktaNeue-Regular"; font-size: 0.76vw; opacity: 0;}
      .text-hover-6 p:nth-of-type(3) {font-family: "OktaNeue-Regular"; font-size: 0.76vw; opacity: 0;}
      .text-hover-6 p:nth-of-type(4) {font-family: "OktaNeue-Regular"; font-size: 0.76vw; opacity: 0;}
      .text-hover-6 p:nth-of-type(5) {font-family: "OktaNeue-Regular"; font-size: 0.76vw; opacity: 0;}
      .text-hover-6 p:nth-of-type(6) {font-family: "OktaNeue-Regular"; font-size: 0.76vw; opacity: 0;}


/* раздел2 */
.block6-2 {
  margin: 0;
  border-bottom: 1px solid black;
  width: 100vw;
  height: 10vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
}
  .zag6-2 {
    width: 52.5vw;
    height: 5vw;
    overflow: hidden;
    margin-top: 3vw;
  }
  .zagolovok6-2 {
    width: 77.2vw;
    top: 0;
    left: 0;
    position: relative;
  }
  .zagolovok6-2:hover {
    animation: zag6-2 5s linear infinite;
  }
  @keyframes zag6-2 {
    100% {left: -77.2vw;}
  }
  .zagolovok6-2 > p {
    font-family: "Radiotechnika";
    font-size: 5vw;
  }
  .podpic6-2 {
    width: 19vw;
    margin-top: 5.9vw;
  }
  .podpic6-2 > p {
    font-family: "OktaNeue-Regular";
    font-size: 0.76vw;
  }
  .knopka6-2 {
    width: 6.6vw;
    height: 6.6vw;
    background-image: url("../images/knopka1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2vw;
  }
  /* контент в открытом виде */
  .open6-2 {
    height: 48.4vw;
    position: relative;
  }
  .form {
    position: absolute;
    width: 181vw;
    height: 22.85vw;
    top: 12vw;
    left: 4vw;
  }
  .form-div {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    overflow-x: visible;
  }
  .form-block-1 {
    width: 76.8vw;
    height: 22.85vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
  .input1 > textarea {
    width: 75vw;
    height: 20vw;
    margin-top: 1vw;
    font-family: "Radiotechnika";
    font-size: 5vw;
  }
  .form-block-2 {
    width: 5.6vw;
    height: 21vw;
    margin-top: 1.8vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
  .form-dot1 {width: 5.6vw; height: 5.6vw; border-radius: 50%; background: white; border: 1px solid black;}
  .form-dot2 {width: 5.6vw; height: 5.6vw; border-radius: 50%; background: white; border: 1px solid black;}
  .form-dot3 {width: 5.6vw; height: 5.6vw; border-radius: 50%; background: white; border: 1px solid black;}
  .form-dot-4 {width: 5.6vw; height: 5.6vw; border-radius: 50%; background: black; border: 1px solid black;}
  .form-dot-5 {width: 5.6vw; height: 5.6vw; border-radius: 50%; background: white; border: 1px solid black;}
  .form-block-3 {
    width: 39vw;
    height: 22.85vw;
    margin-left: -7vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
   .form-podpic1 > p, .form-podpic6-2 > p, .form-podpic6-3 > p{
    font-family: "OktaNeue-Regular";
    font-size: 0.76vw;
  }
  .radio1, .radio2, .radio3 {
    width: 39vw;
    height: 4vw;
    border: 1px solid black;
    padding-left: 2.5vw;
    padding-top: 1.5vw;
  }
  .radio1 > p, .radio2 > p, .radio3 > p {
    font-family: "OktaNeue-Regular";
    font-size: 1.8vw;
  }
  .form-block-4 {
    width: 39vw;
    height: 22.85vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  .input2 > input {
    width: 39vw;
    height: 5.4vw;
    margin-top: 1.65vw;
    font-family: "OktaNeue-Regular";
    font-size: 1.8vw;
  }
  .knopka-form {
    margin-top: 8.2vw;
    width: 6.5vw;
    height: 6.5vw;
    background-image: url("../images/knopka-b.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }



  /* кнопка-крест */
  .knopka4 {
    width: 6.6vw;
    height: 6.6vw;
    background-image: url("../images/knopka2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2vw;
  }

  
