body {
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  cursor: url("../images/cursor/cursor.svg"), auto;
}
.start {
  top: 0;
  left: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.fon {
  background-image: url("../images/ошибка.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .2;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 550;
}

/* анимация текста  */
.t-d {
  left: -555vw;
  top: -10vw;
  height: 150vh;
  width: 807vw;
  position: absolute;
  animation: t-d 14s ease-in;
}
@keyframes t-d {
  0% {left: -1vw;}
  90%, 100% {left: -555vw;}
}
.t-d > p{
  font-family: "DAMN";
  font-size: 163vh;
  color: #0092FF;
  letter-spacing: -5vh;
}

/* скрытие элементов */
.h {
  display: none;
  position: absolute;
}

/* огромные объекты меню */
.chemodan {
  background-image: url("../images/чемодан.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 49vw;
  width: 62.5vw;
  top: 31.5vw;
  left: 40.5vw;
  z-index: 5;
}
.map {
  background-image: url("../images/карта.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 19.1vw;
  width: 35vw;
  top: 0vw;
  left: -10.8vw;
  z-index: 5;
}
.hand {
  background-image: url("../images/рука.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50.2vw;
  width: 66vw;
  top: -3.5vw;
  left: -3vw;
  z-index: 10;
  cursor: url("../images/cursor/o_nas.svg"), auto;
}
.sign {
  background-image: url("../images/знак.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 65.6vw;
  width: 24.5vw;
  top: -3vw;
  left: 34.5vw;
  z-index: 20;
  cursor: url("../images/cursor/faq.svg"), auto;
}
.pugov {
  background-image: url("../images/пуговица.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 15.9vw;
  width: 15.9vw;
  top: 11vw;
  left: 59.5vw;
  z-index: 5;
}
.kolon {
  background-image: url("../images/колонна.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 105vh;
  width: 27.1vw;
  top: -2vw;
  left: 73.2vw;
  z-index: 10;
  cursor: url("../images/cursor/museum.svg"), auto;
}
.korzina {
  background-image: url("../images/корзина.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 31.3vw;
  width: 41vw;
  top: 33vw;
  left: -2vw;
  z-index: 400;
}

/* кнопка информации */
.info-button {
  height: 9vw;
  width: 100vw;
  bottom: 0vw;
  right: 2vw;
  z-index: 370;
}
.info-circle {
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  top: 0;
  right: 0;
  position: absolute;
  background-color: black;
}
.info-i {
  background-image: url("../images/i.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.3vw;
  width: 0.65vw;
  top: 1.7vw;
  right: 3.8vw;
  position: absolute;
}
/* кнопка по клику */
.click {
  display: none;
}
.info-rec {
  height: 8vw;
  width: 94vw;
  top: 0;
  left: 1vw;
  background-color: black;
  position: absolute;
}
.info-text {
  height: 31.3vw;
  width: 37.4vw;
  top: 1.7vw;
  left: 60.5vw;
  position: absolute;
}
.info-text > p{
  font-family: "OktaNeue-Regular";
  font-size: 2vw;
  line-height: 2vw;
  color: white;
}


/* пустые блоки для ховера */
.block-chemodan {
  height: 26.3vw;
  width: 32.7vw;
  top: 34.7vw;
  left: 46.9vw;
  z-index: 400;
  cursor: url("../images/cursor/tour.svg"), auto;
}
.block-map {
  height: 21vw;
  width: 20vw;
  top: -1.3vw;
  left: 0vw;
  z-index: 400;
  cursor: url("../images/cursor/contacts.svg"), auto;
}
.block-pugov {
  height: 15.3vw;
  width: 22.4vw;
  top: 12.7vw;
  left: 55.5vw;
  z-index: 400;
  cursor: url("../images/cursor/events.svg"), auto;
}
.block-korzina {
  height: 23.3vw;
  width: 37.4vw;
  top: 38.7vw;
  left: 0.5vw;
  z-index: 420;
  cursor: url("../images/cursor/store.svg"), auto;
}
