@media all and (min-device-width: 1919px) {
  .menu-rec {height: 6.33vw;}
  .chemodan {height: 38vw; width: 59.5vw; top: 29vw; left: 43.5vw;}
  .map {height: 17.1vw; width: 32vw; top: 3vw; left: -3.8vw;}
  .hand {height: 49.2vw; width: 60vw; top: 1vw;}
  .sign {height: 60vw; width: 22.5vw; left: 37vw;}
  .pugov {top: 12.2vw; left: 60.5vw;}
  .kolon {width: 24.1vw; left: 76.2vw;}
  .logo {height: 4.6vw; width: 6.4vw; left: 0;}
  .korzina {top: 30vw;}
  .info-circle {height: 6.5vw; width: 6.5vw; top: 2vw; right: -0.5vw;}
  .info-i {height: 4vw; width: 0.5vw; top: 3vw; right: 2.5vw;}
}
