/* блок с рендером */
.render_5 {
  top: 0;
  left: 0;
  width: 100vw;
  height: 39.5vw;
  position: relative;
}
  /* изображение */
  .render5 {
    top: 0;
    left: 0;
    width: 100vw;
    height: 39.5vw;
    background-image: url("../images/shop-render.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
    /* блок1 */
  .circle5-1 {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 33.2vw;
    left: 10vw;
  }
  .circle5-1:hover {
    background-color: #0092FF;
  }
  .rec5-1 {
    position: absolute;
    width: 10.8vw;
    height: 3vw;
    top: 30.5vw;
    left: 10.8vw;
    background-color: #0092FF;
    display: none;
  }
  .render_5 p:nth-of-type(1) {
    position: absolute;
    width: 9.4vw;
    top: 30.9vw;
    left: 12.4vw;
    font-family: "OktaNeue-Light";
    font-size: 1.7vw;
    color: white;
    display: none;
  }
    /* блок2 */
  .rec5-2 {
    position: absolute;
    width: 18.3vw;
    height: 3vw;
    top: 12.3vw;
    left: 62.8vw;
    background-color: #0092FF;
    display: none;
  }
  .render_5 p:nth-of-type(2) {
    position: absolute;
    width: 16.1vw;
    top: 12.7vw;
    left: 64.6vw;
    font-family: "OktaNeue-Light";
    font-size: 1.7vw;
    color: white;
    display: none;
  }
  .circle5-2 {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 15vw;
    left: 62vw;
  }
  .circle5-2:hover {
    background-color: #0092FF;
  }


/* раздел1 */
.block5-1 {
  margin: 0;
  border-bottom: 1px solid black;
  width: 100vw;
  height: 10vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
}
  .zagolovok5-1 {
    width: 52.4vw;
    margin-top: 3vw;
  }
  .zagolovok5-1 > p {
    font-family: "Radiotechnika";
    font-size: 5vw;
  }
  .podpic5-1 {
    width: 19vw;
    margin-top: 5.5vw;
  }
  .podpic5-1 > p {
    font-family: "OktaNeue-Regular";
    font-size: 0.76vw;
  }
  .knopka5-1 {
    width: 6.6vw;
    height: 6.6vw;
    background-image: url("../images/knopka1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2vw;
  }
  /* контен в открытом виде */
  .open5-1 {
    height: 52.8vw;
  }
  .hidden {
    display: none;
  }
  .block5-1-content {
    top: 60vw;
    left: 4vw;
    width: 128vw;
    height: 34vw;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: visible;
  }
  .bl-5-1-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 128vw;
    height: 29.3vw;
  }
  .cv-1-1 {
    width: 29.3vw;
    height: 29.3vw;
    background-image: url("../images/shop/cv-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cv-1-11 {background-image: url("../images/shop/n-cv-1.svg");}
  .cv-1-2 {
    width: 30.8vw;
    height: 30.8vw;
    background-image: url("../images/shop/cv-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cv-1-12 {background-image: url("../images/shop/n-cv-2.svg");}
  .cv-1-3 {
    width: 37.4vw;
    height: 27vw;
    background-image: url("../images/shop/cv-3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1.8vw;
  }
  .cv-1-13 {background-image: url("../images/shop/n-cv-3.svg");}
  .cv-1-4 {
    width: 20.5vw;
    height: 27.5vw;
    background-image: url("../images/shop/cv-4-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1.8vw;
    margin-left: 1vw;
  }
  .cv-1-14 {background-image: url("../images/shop/n-cv-4.svg");}
  .bl-5-1-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 142vw;
    height: 3vw;
  }
  .ico-1-1, .ico-1-2, .ico-1-3, .ico-1-4 {
    height: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .ico-1-1 {margin-left: 2vw; width: 27vw;}
  .ico-1-2 {margin-left: 5vw; width: 27vw;}
  .ico-1-3 {margin-left: 5.2vw; width: 27vw;}
  .ico-1-4 {margin-left: 14.5vw; width: 20.4vw;}
  .i11-t {width: 7vw;}
  .i11-t > p, .i12-t > p, .i13-t > p, .i14-t > p {
    font-family: "OktaNeue-Regular";
    font-size: 1.8vw;
  }
  .i11-1 {
    width: 3.37vw;
    height: 3.35vw;
    background-image: url("../images/shop/ico-cart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -11.5vw;
  }
  .i11-1a, .i12-1a, .i13-1a, .i14-1a {background-image: url("../images/shop/ico-cart-act.svg");}
  .i11-2 {
    width: 3.37vw;
    height: 3.35vw;
    background-image: url("../images/shop/ico-fav.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .i11-2a, .i12-2a, .i13-2a, .i14-2a {background-image: url("../images/shop/ico-fav-act.svg");}
  .i12-1 {
    width: 3.37vw;
    height: 3.35vw;
    background-image: url("../images/shop/ico-cart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -13.5vw;
  }
  .i12-2 {
    width: 3.37vw;
    height: 3.35vw;
    background-image: url("../images/shop/ico-fav.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .i13-1 {
    width: 3.37vw;
    height: 3.35vw;
    background-image: url("../images/shop/ico-cart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -13.5vw;
  }
  .i13-2 {
    width: 3.37vw;
    height: 3.35vw;
    background-image: url("../images/shop/ico-fav.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .i14-1 {
    width: 3.37vw;
    height: 3.35vw;
    background-image: url("../images/shop/ico-cart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -7.5vw;
  }
  .i14-2 {
    width: 3.37vw;
    height: 3.35vw;
    background-image: url("../images/shop/ico-fav.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

/* раздел2 */
.block5-2 {
  margin: 0;
  border-bottom: 1px solid black;
  width: 100vw;
  height: 10vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
}
  .zag5-2 {
    width: 52.5vw;
    height: 5vw;
    overflow: hidden;
    margin-top: 3vw;
  }
  .zagolovok5-2 {
    width: 77.2vw;
    top: 0;
    left: 0;
    position: relative;
  }
  .zagolovok5-2:hover {
    animation: zag5-2 5s linear infinite;
  }
  @keyframes zag5-2 {
    100% {left: -77.2vw;}
  }
  .zagolovok5-2 > p {
    font-family: "Radiotechnika";
    font-size: 5vw;
  }
  .podpic5-2 {
    width: 19vw;
    margin-top: 5.9vw;
  }
  .podpic5-2 > p {
    font-family: "OktaNeue-Regular";
    font-size: 0.76vw;
  }
  .knopka5-2 {
    width: 6.6vw;
    height: 6.6vw;
    background-image: url("../images/knopka1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2vw;
  }
  /* контент в открытом виде */
  .open5-2 {
    height: 48.4vw;
    position: relative;
  }
  .block5-2-content {
    top: 60vw;
    left: 4vw;
    width: 78.4vw;
    height: 34.3vw;
    position: absolute;
  }



  /* кнопка-крест */
  .knopka4 {
    width: 6.6vw;
    height: 6.6vw;
    background-image: url("../images/knopka2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2vw;
  }
