@import 'reset.css';
/* стартовый экран */
@import 'index.css';
/* о нас */
@import 'about.css';
/* тур */
@import 'tour.css';
/* контакты */
@import 'contacts.css';
/* 404 */
@import '404.css';
/* адаптивность */
@import 'responsive.css';

@font-face {
    font-family: "DAMN";
    src: url("../fonts/DAMN.ttf") format("truetype");
}
@font-face {
    font-family: "OktaNeue-Regular";
    src: url("../fonts/OktaNeue-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Radiotechnika";
    src: url("../fonts/Radiotechnika.otf") format("opentype");
}
@font-face {
    font-family: "OktaNeue-Light";
    src: url("../fonts/OktaNeue-Light.ttf") format("truetype");
}
